{% load i18n %}{% autoescape off %}
{% blocktrans %}Has solicitado restablecer tu contraseña en {{ site_name }}. Por favor, haz clic en el siguiente enlace para continuar:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% blocktrans %}Si no fuiste tú quien solicitó este restablecimiento, puedes ignorar este correo electrónico. Tu contraseña no cambiará.{% endblocktrans %}

{% blocktrans %}Gracias,{% endblocktrans %}
{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}

{% endautoescape %}